<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.filomenadeveloper.laboro_new_version">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppLaboro"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Laboro_New_Version.NoActionBar"
        tools:replace="android:theme"
        tools:targetApi="o">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="uiMode"
            android:label="@string/app_name"
            android:theme="@style/Theme.Laboro_New_Version.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Laboro_New_Version.NoActionBar"></activity>
        <activity
            android:name=".Screen_main"
            android:label="@string/app_name"
            android:theme="@style/Theme.Laboro_New_Version.NoActionBar"></activity>
        <activity
            android:name=".ui.authentication.Screen_registro"
            android:label="@string/app_name"
            android:theme="@style/Theme.Laboro_New_Version.NoActionBar"></activity>

        <activity
            android:name=".ui.authentication.Screen_Login"
            android:label="@string/app_name"
            android:theme="@style/Theme.Laboro_New_Version.NoActionBar"></activity>
    </application>

</manifest>